.hero__img {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.hero__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.hero__img:hover img {
    transform: scale(1.05);
}

.carousel .slide img {
    border-radius: 10px;
}

.carousel .control-dots .dot {
    background: #888;
    /* Default dot color */
    width: 12px;
    height: 12px;
    margin: 0 6px;
}
.carousel .control-dots .dot.selected {
    background: #4A7CFF;
    /* Active dot color */
}

.carousel .control-arrow {
    background: rgba(0, 0, 0, 0.3);
    /* Semi-transparent background */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
}

.carousel .control-arrow:hover {
    background: rgba(0, 0, 0, 0.6);
    /* Darker on hover */
}
.carousel .control-arrow:before {
    font-size: 20px;
    color: white;
}